{% extends 'home.html' %}

    {%block title%}
    <title>Log in Page</title>
    {%endblock%}

    {% block content %}
    <div class="container">
    <h2>Enter your credentials to Log in</h2>
    <form method = post>
        {{form.hidden_tag()}}
        {{form.username.label}}
        <br>
        {{form.username}}
        <br>
        {{form.password.label}}
        <br>
        {{form.password}}
        <br>
        {{form.login_btn()}}
        <br>
        <h5><a href ='./signup'>Register for Account</a></h5>
    </form>
    {% if error %}
    <p class = text-center text-danger>Invalid Username or Password</p>
    {% endif %}
    </div>
    {% endblock %}
